<div id="container">
  <strong>{{ name }}</strong>
  <p>Camera permission: {{ cameraPermission }}</p>
  <img [src]="imageSource" alt="Image Source" />
  <p class="askPermissionCont">
    <ion-button expand="block" (click)="askPermission()">Küsi luba</ion-button>
  </p>
  <p class="askPermissionCont">
    <ion-button expand="block" (click)="refreshPermissions()"
      >Refresh</ion-button
    >
  </p>
  <p class="askPermissionCont last">
    <ion-button expand="block" (click)="takePhoto()">Tee pilt</ion-button>
  </p>
</div>
