<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 5</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 5 sisu"></app-explore-container>
  <div id="container">
	<label for="numberInput">Sisesta number:</label>
	<input type="number" id="numberInput">
	<button onclick="sendRequest()">Saada päring</button>
  </div>
  <div id="pilt"></div>
  <div id="nimi"></div>
  <div id="email"></div>
</ion-content>

