<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  <div id="container">
    <p class="askPermissionCont last">
      <ion-button expand="block" (click)="takePhoto()">Tee pilt</ion-button>
    </p>
    <div *ngFor="let image in images">
      <img [src]="image" alt="Image Source" height="300" width="300" />
    </div>
  </div>
</ion-content>
