.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #0B0C1E;
}

.title-text {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #EBEBEB;
  text-align: center;
  margin-top: 45px;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 155px;
  font-weight: 400;
  height: auto;
  background-color: #0095FF;
  border-radius: 16px;
  padding: 10px 20px;
  color: #EBEBEB;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.icon {
  justify-self: center;
  align-self: center;
}
