.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #0B0C1E;
  overflow: scroll;
  padding-bottom: 15vh;
}

.backdrop {
  position: absolute;
  width: 334px;
  height: 154px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25vh;
  z-index: -1;
  background: linear-gradient(
    90.13deg,
    rgba(187, 4, 203, 0.6) 28.68%,
    rgba(0, 102, 255, 0.6) 73.19%
  );
  filter: blur(77px);
  -webkit-filter: blur(77px);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 0 7.5vw;
}

.action-icon {
  width: 50px;
}

.wrapper img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  margin-bottom: 15px;
}

.title-text {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #EBEBEB;
  text-align: center;
  margin-top: 45px;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 155px;
  font-weight: 400;
  height: auto;
  background-color: #0095FF;
  border-radius: 16px;
  padding: 10px 20px;
  color: #EBEBEB;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 25px auto 50px;
}


.icon {
  justify-self: center;
  align-self: center;
}
