.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #0B0C1E;
  z-index: -1000;
  overflow: scroll;
  padding-bottom: 15vh;
}

.title-forecast {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #EBEBEB;
  text-align: center;
  margin-top: 45px;
}

.backdrop {
  position: absolute;
  width: 334px;
  height: 154px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25vh;
  z-index: -1;
  background: linear-gradient(90.13deg, rgba(187, 4, 203, 0.6) 28.68%, rgba(0, 102, 255, 0.6) 73.19%);
  filter: blur(77px);
}

.main {
  --ion-background-color: #0B0C1E;
  z-index: -2000;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.forecastDayContainer {
  -webkit-backdrop-filter: blur(50px) brightness(0.5) contrast(0.92);
  backdrop-filter: blur(50px) brightness(0.5) contrast(0.92);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px 15px;
  padding: 15px 25px;
  border-radius: 16px;
  z-index: 1000;
}

.spinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
}

.hourlyTemps {
  display: none;
  flex-direction: row;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: #EBEBEB !important;
  font-size: 14px;
  margin: 10px 0;
}
.daily {
  font-size: 20px;
  justify-self: center;
  justify-content: flex-start;
  font-weight: 300;
}
.hourHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  font-size: 3vw !important;
}
.stripe {
  margin: 0;
  border: 0;
  width: 2px;
  height: 15vw;
  background-color: #5555ff;
  border-radius: 1%;
}
.hour {
  color: #EBEBEB !important;
  font-size: 3vw !important;
}
#sunStuff {
  color: #E5E5EA;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.fcImg {
  width: 10%;
  height: auto;
  margin-right: 20px;
}

.forecastDate {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #E5E5EA;
  display: flex;
  justify-content: flex-start;
}
.forecastTemp {
  font-family: 'Inter', sans-serif;
  color: #ff8e8e;
  display: flex;
  align-items: center;
}
.forecastCondition {
  font-family: 'Inter', sans-serif;
  color: #5555ff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.forecastContinue {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  color: #E5E5EA;
}

.icon-small {
  margin-top: 2px;
  color: #E5E5EA;
  transition: transform 0.3s ease-in-out;
}

.icon-small.rotate {
  transform: rotate(90deg);
}

.divider{
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15px 0;
  align-self: center;
}
